# Shortcuts for various work-related programs and environments

# Load machine-specific locations
source "${HOME}/.locations"

# Shortcuts for common actions and scripts
alias beep="echo -e '\a'"
alias sync-usb="unison -fat -rsrc false $SYNC_FOLDER/ $USB_FOLDER/"
alias git-check="PYENV_VERSION=scripts $SCRIPTS_FOLDER/git_check.py ."
alias git-check-all="PYENV_VERSION=scripts $SCRIPTS_FOLDER/git_check.py"
alias pn="PYENV_VERSION=scripts $SCRIPTS_FOLDER/process_notebooks.py"

# Load certain environments (machine specific)
if [[ "$(uname)" == "Darwin" ]]; then
    computer_name=$(scutil --get ComputerName)
else
    computer_name=$(hostname)
fi
case ${computer_name} in
    "Matt’s MacBook Pro"|"MattBookPro"|"MattBookPro.local")
        ;;
    "Farrah’s MacBook Pro"|"FarrahBook"|"FarrahBook.local")
        alias load-root="source /usr/local/bin/thisroot.sh"
        alias load-geant4="source /usr/local/bin/geant4.sh"
        alias load-opal="source /opt/OPAL-1.4.0-1/etc/profile.d/opal.sh"
        ;;
    "MJEaston")
        alias load-root="source /opt/root/bin/thisroot.sh"
        alias load-geant4="source /usr/local/bin/geant4.sh"
        alias load-opal="source /opt/OPAL-2.0.0rc2/etc/profile.d/opal.sh"
        ;;
    "ubuntu42")
        alias load-root="source ~/Software/ROOT/bin/thisroot.sh"
        ;;
esac

# Shortcuts for Impact-T
alias ImpactGUI="PYENV_VERSION=impactgui $CODE_FOLDER/Impact/GUI/ImpactGUI.py"
alias impactgui="PYENV_VERSION=impactgui $CODE_FOLDER/Impact/GUI/ImpactGUI.py"

# Shortcuts for Reproducible
alias reproduce="PYENV_VERSION=reproducible $CODE_FOLDER/Reproducible/reproduce"

# Shortcut to run_batch.py
alias run_batch="PYENV_VERSION=scripts $SCRIPTS_FOLDER/run_batch.py"

# Shortcuts for BDSIM
alias load-bdsim="source $SCRIPTS_FOLDER/bdsim.sh"

# Settings for EPOCH
export COMPILER=gfortran
export MPIF90=mpifort
